body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f7f7f7;
    color: #444;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 1em 0;
}

header h1, footer p {
    margin: 0;
}

h1 {
    font-size: 2.5em;
    margin: 0.5em 0;
}

h2 {
    font-size: 2em;
    color: #333;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em 0;
}

main {
    padding: 2em;
    background-color: white;
    margin: 2em auto;
    max-width: 900px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f0f0f0;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 5px;
}

ul li a {
    font-size: 1.2em;
    font-weight: bold;
}
